*{margin:0; padding: 0;}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(36, 36, 36);
    color:#fff;
    font-family: 'Jost', sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root{
    --back:#8257e5;
}

.cards{
    width: 90%;
    height: 80%;
    margin: 0 0 5% 0;
    background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
}

.card{
    width: 24%;
    height: 320px;
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    gap:10px;
    border-radius: 10px ;

    background-color: rgb(255, 255, 255);
    color: black;
    transition: all 0.4s;
}

.card:hover{
    transform: scale(1.02);
}

.card-title{
    width: 100%;
    display: flex;
    align-self: flex-start;
    align-items: center;
    font-size: 1.2em;
}

.card-img{ 
    width: 100%;
    height: 70%;
    align-self: center;
    object-fit: fill;  

    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
    border-radius: 10px;
}

.card-img img{ 
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: fill;
}

.card-content{
    height: 30%;
    font-style: normal;
    color: rgb(57, 57, 57);
    font-weight: 400;
    font-size: 1.1em;    
    overflow: hidden;
}

.btn-link{
    width: 100%;
    height: auto;
    border:none;
    border-radius: 10px;
    padding: 10px;

    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.1em;
    background-color: #5274D9;
    color: #fff;
    cursor: pointer;
}


.btn-verMais{
    width:9%;
    height: 70%;
    padding: 10px;

    border-radius: 10px;  
    background-color: #5274D9;
    
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
    cursor: pointer;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

.btn-verMais:hover{
    transform: scale(1.04);
}

.btn-verMais strong{
    font-size: 1.4em;
    color: aliceblue;
    font-weight: bold;
    transform: rotate(-90deg);
}

@media (max-width: 1100px){
    .cards{
        flex-direction: row;
        width: 90%;
        height: 90%;
        margin: 0 0 10% 0;
        overflow: scroll;
    }

    .card{
        width: 80%;
        height: auto;

        margin: 20px 0 0 0;
    }

    .btn-verMais strong{
        transform: none;
    }

    .btn-verMais{
        width:80%;
        padding: 5px;
        height: 46px;
        margin: 0 0 20px 0;
    }
}
