*{margin:0; padding: 0;}

body,html{
    width: 100%;
    height: 100%;
    background-color: rgb(36, 36, 36);
    color:#fff;
    font-family: 'Jost', sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root{
    --back:#8257e5;
}

.cards{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 30px 0 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    width: 27%;
    height: 450px;
    padding: 5px;
    gap:10px;

    background-color: rgb(188, 179, 194);
    box-shadow: 0px 0.5em 0px #4e2aa0;
    color: black;
    border-radius: 5px;
    transition: all 0.4s;
}

.card:hover{
    transform: scale(1.04);
}

.card-title{
    display: flex;
    align-self: flex-start;
    align-items: center;
    font-size: 1.375rem;
}

.card-title span{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    margin: 0 0 0 5px;
    font-size: 1.7em;
    color:blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

.card-title span:hover{
    background-color: #0270ca;
    color: rgb(248, 248, 248);
    cursor: pointer;
}


.card-img{ 
    width: 100%;
    height: 40%;
    background-color: inherit;
    align-self: center;
    object-fit: fill;  
}

.card-img img{ 
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: fill;
}

.card-content{
    height: 60%;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375rem;
}

.btn-link{
    width: 70%;
    height: auto;
    border:none;
    border-radius: 5px;
    font-size: 1em;
    background-color: var(--back);

}

.btn-link a{
    text-decoration: none;
    color: aliceblue;
}


.btn-verMais{
    width:9%;
    height: 460px;
    padding: 10px;

    border: none;
    border-radius: 10px;  
    background-color: var(--back);
    box-shadow: 0px 0.5em 0px #4e2aa0;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

.btn-verMais:hover{
    transform: scale(1.04);
}

.btn-verMais a{
    font-size: 1.5em;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    transform: rotate(-90deg);
}

@media (width < 900px){
    .cards{
        flex-direction: column;
    }

    .card{
        width: 80%;
        height: 80%;
    }

    .btn-verMais a{
        transform: none;
    }

    .btn-verMais{
        width:80%;
        height: 46px;
    }
}