*{padding: 0; margin: 0;}

:root{
    --background-color: #14131b;
    --color: #fff;
    --border: 1px solid red;
}


body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-image: url("../img/back.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 

    object-fit: fill;

    color: var(--color);
    font-family: sans-serif;
}

/* Menu */
nav{
    width: 100vw;
    height: 50px;
    color:white;

    padding: 10px 0 0 0;
}

nav span{
    display: flex;
    float: left;
    align-items: center;
    width: 50px;
    padding: 10px 0 0 10%;
    font-size: 1.7em;
    color: #ba24ff;
}

#menu-principal{
    float: right;
    padding: 10px 10% 0 0;

    display: flex;
    flex-direction: row;
    gap:20px;
    list-style: none;
    font-weight: 100;
    font-size: 1em;
}

nav ul li{
    border-radius: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

nav ul li > a{
    text-decoration: none;
    color:white;
    transition: all 0.8s;

    border-radius: 5px;
}

nav ul li > a > i{
    padding: 4px;
}

nav ul li:hover > a{
    background-color: white;
    color: black;
    transform: scale(1.2);
}

.btn-menu{
    border:none;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    align-items: center;
    padding: 0 0 0 10px;

    font-style: normal;
    font-size: 1.3em;
    width: 50px;
    height: 30px;

    background-color: #a707f1b3;
    color:#f107f1;
    transition: all 0.4s;
}

.btn-menu:hover{
    transform: scale(1.2);
}

#menu-drop{
    display: none;
}

@media (max-width: 700px){
    nav ul{
        padding: 10px 5px 0 0;
    }
}

@media (max-width: 600px){
    #menu-drop{
        display: block;
    }

    .active{
        display: flex !important;
    }
    
    #menu-principal{
        display: none;
        float: none;
        padding: 0 0 0 0;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;

        list-style: none;
        font-weight: 100;
        font-size: 1.5em;
        height: 100vh;
        width: 100vw;
        background-color: #14131b;
        z-index: 10;
        transition: all 0.4s;
    }

    .btn-menu-drop{
        border:none;
        border-radius: 5px;
        float: right;
        margin: 10px 10px 0 0 ;
    
        font-size: 1.3em;
        width: 50px;
        height: 30px;
    
        background-color: #a707f1b3;
        color:#fff;
    }

    .btn-menu{
        display:none;
    }

    #icone img{
        display: none;
    }
}

/* Main */

#home{
     width: 100vw;
     height: 100vh;
     display: flex;
     z-index: 1;
}

#sobre{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

#sobre h1, 
h2,
h3{
    margin-left: 25%;
    font-weight: 100;
}

#sobre h1{
    color:#db44fd;
    padding-top: 10px;
    padding-bottom:30px;
}

#sobre h3{ 
    color:#db44fd;
}
#icone{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#icone img{
    width: 40vw;
    height: 40vh;
    object-fit: fill;
}