
<section class="about-me">
    <hr />
    <h1>Sobre mim!</h1>
    <span>Meu nome é Heitor Santos. Começei no mundo da programação em 2021, logo no inicio do curso técnico e desde então venho buscando ampliar meus conhecimentos. Atualmente trabalho em projetos pessoais em que posso testar e desenvolver soluções para meu ambiente. Esse portifolio dá inicio a uma nova fase da minha carreira. Atentei-me a cada detalhe para melhor experiência e claro, mostrar minhas skills. As tecnologias que irão aparecer aqui é HTML, CSS, JavaScript, PHP(incluindo projetos em OOP), Jquery, Ajax, React, NodeJs.</span> 
</section>