<article class="wrapper">
    <article id="about">
        <span id="welcome">Eu sou</span>
        <h1>Heitor Santos</h1>
        <h1>Desenvolvedor</h1>
        <h1>Web.</h1>            

        <button id="viewProjects">
            <a href="#projects">Ver Projetos</a>
        </button>
    </article>
    
    <aside id="about-img">
        <img src="/src/assets/img/img-dev.svg"/>
    </aside>
</article>     

<section id="about-me">
    <hr />
    <h1>Sobre mim!</h1>
    <span>Meu nome é Heitor Santos. Começei no mundo da programação em 2021, logo no inicio do curso técnico e desde então venho buscando ampliar meus conhecimentos. Atualmente trabalho em projetos pessoais em que posso testar e desenvolver soluções para meu ambiente. Esse portifolio dá inicio a uma nova fase da minha carreira. Atentei-me a cada detalhe para melhor experiência e claro, mostrar minhas skills. As tecnologias que irão aparecer aqui é HTML, CSS, JavaScript, PHP (incluindo projetos em POO), Jquery, Ajax, React, NodeJs.</span>
</section>