*{margin:0; padding: 0;}

body{
    width: 100%;
    height: 100%;

    background-color:#D5CABD;
    scroll-behavior: smooth;
    color:#fff;
    font-family:'Jost', sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root{
    --back:#8257e5;
}

.cards{
    height: 100%;
    width: 100%;
    padding: 30px 0 30px 0;

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    gap:30px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    width: 25%;
    height: 350px;
    padding: 15px;
    gap:10px;

    background-color: #fff;
    border-radius: 10px;
    transition: all 0.4s;
}

.card:hover{
    transform: scale(1.02);
}

.card-title{
    width: 100%;
    display: flex;
    align-self: flex-start;
    align-items: center;

    color:rgb(15, 15, 15);
    font-size: 1.375em;
}

.card-img{ 
    width: 100%;
    height: 60%;
    background-color: inherit;
    align-self: center;
    object-fit: fill;  

    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
    border-radius: 10px;
}

.card-img img{ 
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card-content{
    width: 100%;
    height: 30%;

    color:rgb(52, 52, 52);
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1.4375rem;
 
    overflow: hidden;
}

.btn-link{
    width: 100%;
    height: auto;
    padding: 9px;

    border:none;
    border-radius: 10px;

    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 0.1em;
    background-color: #5274D9; 
    color: #fff;
}


.btn-voltarPag{
    width: 87%;
    height: 46px;
    display: flex;
    gap: 15px;

    border:none;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 10px;

    background-color: #fff;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 300;

    transition: all 0.4s;
}

.btn-voltarPag:hover{
    transform: scale(1.04);
}

@media (max-width: 600px){

    .card{
        width: 67%;
        height: 310px;
        padding: 10px;
    
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
    }
    
    .card:hover{
        transform: scale(1.01);
    }
    
    .card-title{
        font-size: 1.3em;
        font-weight: 600;
    }  
    
    .card-img{ 
        width: 100%;
        height: 51%;
        background-color: inherit;
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
        align-self: center;
        object-fit: fill;  
      

        border-radius: 10px;
    }
    
    .card-img img{ 
        width: 100%;
        height: 100%;

        border-radius: 10px;
    }
    
    .card-content{
        height: 30%;
        font-style: normal;
        color: rgb(57, 57, 57);
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.4375rem;
        
        overflow: hidden;
    }
    
    .btn-link{
        width: 100%;
        height: auto;
        padding: 9px;

        border:none;
        border-radius: 10px;

        font-size: 1em;
        font-weight: 500;
        letter-spacing: 0.1em;
        background-color: #5274D9;
    }

    .btn-voltarPag{
        width:67%;
        height: 46px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin: 0 10px 0 10px;

        background-color: #fff;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 300;
    
        transition: hover 0.4s;
    }
    
    .btn-voltarPag:hover{
        transform: scale(1.01);
    }   
}

@media (min-width: 700px) and (min-height: 1000px){

    .card{
        width: 40%;
        height: 310px;
        padding: 10px;
    
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
    }
    
    .card:hover{
        transform: scale(1.01);
    }
    
    .card-title{
        font-size: 1.3em;
        font-weight: 600;
    }  
    
    .card-img{ 
        width: 100%;
        height: 51%;
        background-color: inherit;
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
        align-self: center;
        object-fit: fill;  
      

        border-radius: 10px;
    }
    
    .card-img img{ 
        width: 100%;
        height: 100%;

        border-radius: 10px;
    }
    
    .card-content{
        height: 30%;
        font-style: normal;
        color: rgb(57, 57, 57);
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.4375rem;
        
        overflow: hidden;
    }
    
    .btn-link{
        width: 100%;
        height: auto;
        padding: 9px;

        border:none;
        border-radius: 10px;

        font-size: 1em;
        font-weight: 500;
        letter-spacing: 0.1em;
        background-color: #5274D9;
        color: #fff;
    }

    .btn-voltarPag{
        width:88%;
        height: 46px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin: 0 10px 0 10px;

        background-color: #fff;
        cursor: pointer;
        font-size: 1.3em;
        font-weight: 300;
    
        transition: hover 0.4s;
    }
    
    .btn-voltarPag:hover{
        transform: scale(1.01);
    }  

}
