html{
    cursor: url(img/mata_mosca.png) 30 30, auto;
}

body{
    background-image: url(img/bg.jpg);
    background-size: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.mosquito-1{
    height: 50px;
    width: 50px;
}
.mosquito-2{
    height: 90px;
    width: 90px;
}
.mosquito-3{
    height: 110px;
    width: 110px;
}

.lado-a{
    transform: scaleX(1);
}

.lado-b{
    transform: scaleX(-1);
}

.painel{
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: 1px solid #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas{
    float: left;

}
.cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}