*{margin:0; padding: 0;border: 0;outline: 0;}

body{
    width: 100%;
    height: 100%;

    background-color: #ebebeb;
}

:root{
    --color:1px solid red;
    --form-control-color: rebeccapurple;
    --form-control-disabled: #959495;
    --form-background: #fff;
}

.disabled{
    display: none;
}

.active{
    display: flex;
}

main{
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;

    -webkit-font-smoothing: antialiased;
    background-color: #ebebeb;
    font-family:Arial,sans-serif;
}

nav{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    background-color: #40b3e455; 
    border-bottom: 1px solid #acacac; 
}

nav .logo{
    font-size: 2em;
    padding: 5px;

    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

fieldset.pesquisar{
    width: 80%;
    max-width: 1300px;

    margin: 10px 10px;
    padding:5px;

    color:#69327f;
    background-color:#ffffff;
}

fieldset.pesquisar input{
    width: 70%;
    padding: 10px;

    font-size: 0.9em;
    color:#474747;
    background-color: inherit;
}

i#abrirFiltro{
    padding: 5px;
    font-size: 2em;


    color:rgba(0, 0, 0, 0.749);
    cursor: pointer;
}

form.filtrar{
    width: 100%;

    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:5px;

    color:rgba(0, 0, 0, 0.781);
    border-top: 1px solid rgb(143, 143, 143);
}

form.filtrar fieldset{
    width: 100%;
    margin-left: 10px;
    padding: 5px 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;
}

form.filtrar label{
    width: auto;
    padding:5px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

    font-size: .8em;

    border-radius:10px;
    color: #3a3a3a;
    border:1px solid rgb(185, 185, 185);
    background-color:#fff;
    cursor: pointer;

    transition: all .8s;
}

form.filtrar label:hover{
    background-color:#d0d0d0;
}
  

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    background-color: #fff;
    
    padding:5px;
    border:2px solid rgb(211, 211, 211);
    border-radius: 5px;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
    cursor: pointer;
}
  
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;

    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em blue;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

section{
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 30px 0 30px 0;

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    gap:20px;
}



/*  cards */


.card{
    width: 200px;
    max-width: 230px;
    height: auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:5px;

    overflow: hidden;
    background-color: #fff;
    border:1px solid rgb(218, 217, 217);

    cursor:pointer;
    border-radius: 10px;      
    transition: all 0.2s;     
}

.card:hover {
    transform: scaleY(1.02);
}

.card-img{ 
    width: 100%;
    height: 40%;
    max-height: 200px;
    border-radius: 10px;

    object-fit: fill;
}

.card-img img{ 
    width: 100%;
    height:100%;
}

.card-title{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px 0;

    color:rgba(3, 3, 3, 0.857);
    font-size: 1em;
    text-transform: capitalize;
}

.card-title i{
    color:rgb(255, 196, 0);
    border: 2px;
    cursor:pointer;
}


output{
    width: 100%;
    color: rgb(0, 0, 0);
    padding:5px 0;

    border-top:1px solid rgb(179, 179, 179);
}

h5{
    width: 100%;
    color:#00a650;

    font-size: 0.7em;
    font-weight: 400;
}

.card-content{
    width: 100%;
    height: auto;
    padding: 5px 0;

    color:rgb(103, 103, 103);
    font-style: normal;
    font-weight: 400;
    font-size: 1em;

    transition: all .2s;
}






/*  media query */



@media (max-width: 600px){
    
    form.pesquisar input{
        width: 90%;
        margin: 10px 5px;
    }

    fieldset.pesquisar{
        width: 60%;

        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    fieldset.pesquisar input{
        width: 100%;
    }
    
    form.filtrar{
        width:auto;
    }

    .card{
        width: 80%;
        max-width: 340px;
        height: 410px;
        
        gap:10px;
    }
    
    .card-title{
        font-size: 1.3em;
        font-weight: 600;
    }  
    
    .card-img{ 
        width: 100%;
        height: 51%;
        background-color: inherit;
        align-self: center;
        object-fit: fill;  

        border-radius: 10px;
    }
    
    .card-img img{ 
        width: 100%;
        height: 100%;

        border-radius: 10px;
    }
    
    .card-content{
        height:auto;
        font-style: normal;
        color: rgb(57, 57, 57);
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.4375rem;
        
        overflow: hidden;
    }
        
}



/*  media query */



@media (min-width: 700px) and (min-height: 1000px){

    .card{
        width: 40%;
        max-width: 450px;
        height: 410px;
        padding: 10px;
    
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
    }
    
    .card:hover{
        transform: scale(1.01);
    }
    
    .card-title{
        font-size: 1.3em;
        font-weight: 600;
    }  
    
    .card-img{ 
        width: 100%;
        height: 51%;
        background-color: inherit;
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
        align-self: center;
        object-fit: fill;  
      

        border-radius: 10px;
    }
    
    .card-img img{ 
        width: 100%;
        height: 100%;

        border-radius: 10px;
    }
    
    .card-content{
        height: auto;
        font-style: normal;
        color: rgb(57, 57, 57);
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.4375rem;
        
        overflow: hidden;
    }
    
}
