@font-face {
    font-family: 'Montserrat';
    src: url('/src/vendor/font/static/Montserrat-Regular.ttf');
}

*{
    padding: 0; 
    margin: 0;
    border:0; 
    outline:none;
    list-style: none;

    font-family: 'Montserrat';
}

*::-webkit-scrollbar{
    display:none;
    scroll-behavior: smooth;
}

:root{
    --background-main: #212529;
    --color-text: #e9e5e5;
    --border: 1px solid red;

    --padding:1rem 5rem 1rem 1.5rem;
    --padding-left:0 0 0 1.4rem;
}

body{
    height: 100vh;

    background-color:var(--background-main);
    color:var(--color-text);
}

main{
    width: 100%;
    height: 100%;
}


header#home-header{
    width: 100%;
    height:auto;
}

article#home-about{
    width: 100%;
    height: 100%;
}

article#home-about-me{
    width: 100%;
    height: 80%;
}

article#home-projects{
    width: 100%;
    height:100%;
}