:root{
    --back:#8257e5;
}

.cards{
    width: 90%;
    height: 80%;
    margin: 0 0 5% 0;

    background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap:20px;
}

.cards::-webkit-scrollbar{
    visibility: collapse;
}

section.card{
    width: 24%;
    height: 320px;
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    gap:10px;
    border-radius: 10px ;

    background-color: rgb(255, 255, 255);
    color: black;
    transition: all 0.4s;
}

section.card:hover{
    transform: scale(1.02);
}

img.card-img{ 
    width: 100%;
    height: 70%;
    align-self: center;
    object-fit: fill;  

    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
    border-radius: 10px;
}

h1.card-title{
    width: 100%;
    display: flex;
    align-self: flex-start;
    align-items: center;
    font-size: 1.2em;
}

p.card-content{
    width: 100%;
    height: 30%;
    font-style: normal;
    color: rgb(57, 57, 57);
    font-weight: 400;
    font-size: 1.1em;    
    overflow: hidden;
}

button.btn-link{
    width: 100%;
    height: auto;
    border:none;
    border-radius: 10px;
    padding: 10px;

    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.1em;

    color: aliceblue;
    background-color: #5274D9;
}

button.btn-verTodos{
    width:9%;
    height: 320px;

    border-radius: 10px;  
    background-color: #5274D9;
    
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.68);
    cursor: pointer;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

button.btn-verTodos:hover{
    transform: scale(1.04);
}

button.btn-verTodos strong{
    font-size: 1.4em;
    color: aliceblue;
    font-weight: bold;
    transform: rotate(-90deg);
}

@media (max-width: 1100px){
    .cards{
        flex-direction: row;
        width: 90%;
        height: 90%;
        margin: 0 0 10% 0;
        overflow: scroll;
    }
        
    .cards::-webkit-scrollbar{
        visibility: collapse;
    }

    section.card{
        width: 80%;
        height: auto;

        margin: 20px 0 0 0;
    }

    button.btn-verTodos strong{
        transform: none;
    }

    button.btn-verTodos{
        width:80%;
        padding: 5px;
        height: 46px;
        margin: 0 0 20px 0;
    }
}
