*{margin: 0; padding: 0;}

body, html{
    width: 100%;
    height: 100%;
}

body {
    display:flex; 
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
    text-rendering:  optimizeLegibility;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

#relogio {
    height: 90%;
    width: 70%;

    display: flex;
    flex-direction: column;

    text-align: center;
    border:none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    
    background: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 2px 27px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 2px 27px 0px rgba(0,0,0,0.36);
    box-shadow: 0px 2px 27px 0px rgba(0,0,0,0.36);
}

.col {
    width: 100%;
    height:20%;
    align-self: center;
}

.col-2 {
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;

    background-color: rgba(211, 211, 214, 0.925);
    /* border: 1px solid rgba(0, 0, 0, 0.125);*/
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

#clock{
    width: 25%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    background-color: rgba(18, 1, 13, 1);
    border: none;
    border-radius: 500px;
    color: #fef9d7;
}

#clock hr{
    height: 100px;
    border: 1px solid rgb(255, 255, 255);

    transform: rotate(180deg);
    margin: 0 10px 0 10px;
}

.fundo-relogio{
    width: 18%;
    height: 37%;
    position: absolute;
    display: flex;
    flex-direction: row;

    border-radius: 500px;
    overflow: hidden;
}

.fundo-relogio-1, .fundo-relogio-2{
    width: 50%;
    height: 100%;
    
}

.fundo-relogio-1 hr, .fundo-relogio-2 hr{
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    background-color: #ffffff;
}

h1 {
    font-weight: 600;
    font-size: 40px;
    text-align: center top;
    color: black;
    margin: 0 auto;
}

h2 {
    font-weight: 400;
    font-size: 15px;
    text-align: center top;
    color: rgba(0, 0, 0, 0.562);
    margin: 0 auto;

}

hr {
    margin-left: 5%;
    margin-right: 5%;
}

@media (max-width:600px){  

    #clock {
        font-size:2.5em;
    }

}
  