*{margin: 0; padding: 0;}

body, html{
    width: 100%;
    height: 100%;
}

body {
    display:flex; 
    align-items: center;
    justify-content: center;
    text-rendering:  optimizeLegibility;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;

    background-color: aliceblue;
}

#relogio {
    height: 90%;
    width: 70%;

    display: flex;
    flex-direction: column;

    text-align: center;
    border:none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color:#595959;
}

.col {
    width: 100%;
    height:20%;

    align-self: center;
    color:#3E3E3E;
}

.col-2 {
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.col h1{
    font-size: 2em;
    letter-spacing: 0.1cm;
    padding: 15px 0 10px 0;
}

#clock{
    width: 34%;
    height: 70%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    background-color: aliceblue;
    border-radius: 50%;
    background: #ffffff;
    box-shadow:  26px 26px 100px #c9c9c9,
                -26px -26px 100px #ffffff;
    border: 2px rgb(89, 89, 89);
    color: #3E3E3E;
    font-size: 2.9em;
}

#clock hr{
    height: 60%;
    border:1px solid #3E3E3E;

    transform: rotate(180deg);
    margin: 0 10px 0 10px;
}

.fundo-relogio{
    width: 25%;
    height: 52%;
    position: absolute;
    display: flex;
    flex-direction: row;

    border-radius: 500px;
    overflow: hidden;
}

.fundo-relogio-1, .fundo-relogio-2{
    width: 50%;
    height: 100%;
    
}

.fundo-relogio-1 hr, .fundo-relogio-2 hr{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    margin: 0;
    background-color: #3E3E3E;
}

.fundo-relogio-1{
    transform: rotate(180deg)
}

h1 {
    font-weight: 600;
    font-size: 40px;
    text-align: center top;
}

h2 {
    font-weight: 400;
    font-size: 15px;
    text-align: center top;

}

hr {
    height: 2px;
    margin: 10px 0 10px 0;
    border: none;
    border-radius: 10px;

    background-color: #fef9d7;
    margin-left: 5%;
    margin-right: 5%;
}

@media (max-width:600px){  

    #relogio{
        width: 90%;
        justify-content: flex-end;
    }

    .col h1{
        padding: 5px 0 5px 0;
        font-size: 1.5em;
    }

    .col h2{
        padding: 0 15px 0 15px;
        font-size: 0.8em;
    }

    #clock{
        width: 69%;
        height: 50%;

        font-size:2.5em;
    }
    
    #clock hr{
        height: 70%;
    }

    .fundo-relogio{
        width: 65%;
        height: 35%;

    }   


}
  
@media (min-width:710px) and (min-height:1000px){

    #clock{
        width: 70%;
        height: 50%;

        font-size: 3em;
    }
    
    #clock hr{
        height: 180px;
    }
    
    .fundo-relogio{
        width: 52%;
        height: 38%;
    }
    
    .fundo-relogio-1, .fundo-relogio-2{
        width: 50%;
        height: 100%; 
    }

}