article.wrapper{
    width: inherit;
    height: inherit;

    display:flex;
}

article#about{
   width: 50%;
   height: 80%;

   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   padding: var(--padding);

}

article#about span{
    color:#b6afaf;
    font-weight: 600;
    font-size: 1.3em;
    font-family:sans-serif;
}

article#about h1{
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 0.03em;
    line-height: 1em;

    cursor:pointer;
}

article#about button{
    padding:.8rem 4rem;
    margin-top:25px;

    font-size:1em;
    font-weight:600;
    color:inherit;
    border-radius: 5px;
    background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);

    transition: all .4s;
    cursor:pointer;
}

article#about button:hover{
    opacity: .6;
}

article#about button a{
    width: 100%;
    color: inherit;
    text-decoration: none;
}

aside#about-img{
    width: 35%;
    height: 75%;
    margin: 5% 0 0 0;

    display: flex;
    align-items: center;
    justify-content: center;

    position:relative;
    background-color:rgba(255, 255, 255, 0.089);
    border-radius:.2rem .2rem .2rem 8rem;
}

aside#about-img img{
    width: 350px;
}

section#about-me{
    width: 80%;
    height: fit-content;
    padding:var(--padding);
}

section#about-me h1{
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.03em;
    line-height: 1.6em;

    cursor:pointer;
}

section#about-me span{
    color:#b6afaf;
    font-weight: 500;
    font-size: 1.2em;
    
    text-align: justify;
}

section#about-me hr{
    width: 350px;
    border:1px solid #FFF;

    position: absolute;
    right:0;
    top:140%;
    transform: rotate(90deg);

    animation: hrMove 2s ease-in-out infinite forwards;
}

@keyframes hrMove{
    0%{
        opacity: 0.2;
    }
    50%{
        opacity:0.5;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width:1110px){
    article#about h1{
        font-size:3rem;
    }

    aside#about-img img{
        width: 90%;
    }

    section#about-me h1{
        font-size:2.5rem;
    }

    section#about-me hr{
        width: 250px;
        top:130%;
    }
}

@media (max-width:940px){
    article#about h1{
        font-size:2.5rem;    
    }

    section#about-me hr{
        width: 200px;
        top:130%;
    }

    section#about-me span{
        font-size:1.1em;
    }
}

@media (max-width:745px){
    article#about{
        width:90%;
    }

    aside#about-img{
        display: none;
    }

    section#about-me hr{
        display: none;
    }
}

@media (max-width:425px){
    article#about h1{
        font-size:2rem;    
    }
}
