*{
    margin:0; 
    padding:0; 
    border:0;
}

:root{
    --backcolor: #FF033E;
}

body{
    width: 100vw;
    height: 100vh;

    font-family: museo-sans, sans-serif;
    font-style: normal;

    overflow: hidden;
}

main{
    width: 100%;
    height: 100%;

    display: flex; 
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

article#principal{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

#coracao{
    width: 200px;
    height: 200px;

    background-color: var(--backcolor);
    transform: rotate(45deg);
    position: relative;
}

#circulo-1{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top:-100px;

    background-color: var(--backcolor);
}

#circulo-2{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    left:-100px;

    background-color: var(--backcolor);
}

#content{
    width: 290px;
    height: auto;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
    gap: 10px;

    color: aliceblue;
    transform: rotate(-45deg);
}

.botao{
    width: 80px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    
    font-size: 1em;
    background-color: rgb(255, 255, 255);
    border:1px solid red;
    color: var(--backcolor);

    transition: all .4s;
}

.botao:hover{
    color: rgb(255, 255, 255);
    border:1px solid rgb(255, 255, 255);
    background-color: var(--backcolor);
}

#btnNao:hover{
    color: rgb(255, 255, 255);
    border:1px solid rgb(255, 255, 255);
    background-color: var(--backcolor);
   
    transform: rotate(360deg);
    transition-duration: .8s;
    transition-timing-function: ease-in;
}
